@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 3
   Case Problem 1
   
   Layout styles for Slate and Pencil Tutoring
   Author: Annette Segura
   Date:   10-25-18
   
   Filename: sp_layout.css

/* Window and Body Styles */
/* in the html element i set the height to 100% then in the body added a width of 95%, set the min and max widths to 960% and 640%. to have the page stay in the center i set the margin left and right to auto.*/
html {
    height: 100%;
}

body {
    width: 95%;
    max-width: 960px;
    min-width: 640px;
    margin-left: auto;
    margin-right: auto;
    min-height: 100%;

}

header,
ul,
nav,
li,
a {
    box-sizing: border-box;
}


/* did an id to have the display of the page kept together*/

/* Row Styles */
.row::after {
    clear: both;
    content: "";
    display: table;
}



/*did a display block to the header with the width of 70% and float to the left so that the expanded image could be on the left. Added some padding and to have the nav adjusted to a prefered section of the page.  */

/* Page Header Styles */
body>header>img {
    display: block;
    width: 70%;
    float: left;
}

header>nav {
    float: left;
    padding-left: 2%;
    padding-right: 2%;
    width: 30%;
}

header>nav>ul>li>a {
    display: block;
    width: 100%;
}




/* Added a class to the nav  with a ul that is the parent of the li. Included the display block with the width 12.0% for the prefered style for the nav. */

/* Horizontal Navigation List Styles */
nav.horizontal ul>li {
    display: block;
    width: 12.0%;
    float: left;
}



/* worked with id's that are a parents of the li. Various adjustements were implemented including the display block and set the width to 20% and had them float to the left as well as effected the image that was a child of li with similiar  displays.*/

/* Topics Styles */
ul#topics>li {
    display: block;
    width: 20%;
    float: left;
    margin-left: 0%;
    margin-right: 1.5%;
}

ul#topics>li:first-of-type {
    margin-left: 7.75%;

}

ul#topics>li:last-of-type {
    margin-right: 7.5%;
}

ul#topics>li>img {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}



/* HR Styles */
hr {
    width: 50%;
}



/* worked with an id of comments and added various adjustments using style rules such as margins, widths, and added a display block. */

/* Customer Comment Styles */
ul#comments {
    width: 75%;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
}

ul#comments>li {
    display: block;
    width: 50%;
    float: left;
    margin-bottom: 30px;
}

ul#comments>li>img {
    display: block;
    float: left;
    width: 20%;
    margin-left: 5%;
    margin-right: 5%;
}

ul#comments li p {
    float: left;
    width: 70%;
}

/* Footer Styles */
footer {
    clear: both;

}